<div class="main-layout">
    <mat-toolbar color="primary" class="main-toolbar">
        <button mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
        <span>Gimmillion</span>
        <span class="spacer"></span>
        <button mat-button (click)="goToStocks()">
            <mat-icon>show_chart</mat-icon>
            <span>STOCKS</span>
        </button>
        <button mat-button (click)="goToCrypto()">
            <mat-icon>attach_money</mat-icon>
            <span>CRYPTOS</span>
        </button>
        <span class="spacer"></span>
        <button mat-icon-button (click)="goToProfile()">
            <mat-icon>person</mat-icon>
        </button>
        <button mat-icon-button (click)="goToUserManagement()">
            <mat-icon>supervised_user_circle</mat-icon>
        </button>
        <button mat-icon-button (click)="logout()">
            <mat-icon>login</mat-icon>
        </button>
    </mat-toolbar>

    <div class="main-container">
        <router-outlet></router-outlet>
    </div>
</div>