:host {
    width: 100%;
    height: 100%;
}
.spacer {
    flex: 1 1 auto;
}
.main-layout {
    display: flex;
    height: 100%;
    flex-direction: column;

    .main-toolbar {
        height: 48px !important;
    }
    .main-container {
        flex: 1;
        overflow: hidden;
        height: 100%;
        width: 100%;
        //position: absolute;
        //padding-top: 48px;
        //box-sizing: border-box;
    }
    
}
