.notification-list {
    padding: 0 !important;
}
.notification-item {
    height: auto !important;
    box-sizing: border-box;
}

.notification-message {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 8px 0px;
}

.dismiss-btn {
    padding: 0 !important;
}

/* unvisited link */
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}
