<mat-list role="list" *ngIf="notificationsService" class="notification-list">
    <mat-list-item role="listitem" *ngFor="let n of notificationsService.currentNotifications" 
        class="notification-item light-primary-text">
        <div class="notification-message">
            <div [innerHtml]="n.message"></div>
            <button mat-button class="dismiss-btn" (click)="dismiss(n)">Dismiss</button>
        </div>
        
        <mat-divider></mat-divider>
    </mat-list-item>
</mat-list>
