<h1 mat-dialog-title>Reset Password</h1>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Old Password</mat-label>
        <input matInput [formControl]="oldPasswordControl" type="password">
        <mat-error *ngIf="oldPasswordControl.invalid">{{getOldPasswordErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>New Password</mat-label>
        <input matInput [formControl]="newPasswordControl" type="password"
        (keyup)="onNewPasswordKeypress($event)">
        <mat-error *ngIf="newPasswordControl.invalid">{{getNewPasswordErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Confirm New Password</mat-label>
        <input matInput [formControl]="newPasswordConfirmControl" type="password"
        (keyup)="onConfirmPasswordKeypress($event)">
        <mat-error *ngIf="newPasswordConfirmControl.invalid">{{getNewPasswordErrorMessage()}}</mat-error>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="cancel()">CANCEL</button>
    <button mat-button (click)="resetPassword()" [disabled]="oldPasswordControl.invalid || 
    newPasswordControl.invalid || 
    newPasswordConfirmControl.invalid ||
    newPasswordControl.value !== newPasswordConfirmControl.value">RESET</button>
</div>