<div class="futures-view" *ngIf="futures">
    <div class="wait-spinner" *ngIf="futures.recommendations.length == 0">
        <mat-spinner></mat-spinner>
        <h1>Retrieving Futures...</h1>
    </div>
    <div class="futures-list">
        <gm-recommendation-list [recommendations]="futures"></gm-recommendation-list>
    </div>
    <div class="futures-details" *ngIf="futures.recommendations.length != 0">
        <h1 *ngIf="selectedFuture">Additional details coming soon!</h1>
    </div>
</div>
