<div class="futures-view" *ngIf="futures">
    <div class="wait-spinner" *ngIf="futures.recommendations.length == 0">
        <mat-spinner></mat-spinner>
        <h1>Retrieving Futures...</h1>
    </div>
    <div class="futures-list" *ngIf="futures.recommendations.length != 0">
        <div class="futures-filters">
            <button mat-icon-button style="align-self: center;" color="primary" (click)="refresh()">
                <mat-icon>refresh</mat-icon>
            </button>
        </div>
        
        <gm-recommendation-list [recommendations]="futures" [(selectedItem)]="selectedFuture"></gm-recommendation-list>
    </div>
</div>
