<div class="watchlist-view">

    <div class="wait-spinner" *ngIf="isRefreshing">
        <mat-spinner></mat-spinner>
        <h1>Retrieving Watchlist...</h1>
    </div>

    <div class="wait-spinner" *ngIf="!isRefreshing && userWatchlistService.watchlist.recommendations.length == 0">
        <h1>No stocks in watchlist currently.</h1>
    </div>

    <div class="watchlist-list" *ngIf="userWatchlistService.watchlist.recommendations.length != 0">
        <div class="watchlist-filters">
            <mat-form-field>
                <mat-label>Lookup</mat-label>
                <mat-icon matPrefix>search</mat-icon>
                <input matInput type="text" (keyup)="onFilterKeyup($event)">
            </mat-form-field>
            <button mat-raised-button style="align-self: center;" color="primary" (click)="refresh()">
                <span>REFRESH</span>
            </button>
        </div>
        <gm-recommendation-list [recommendations]="userWatchlistService.watchlist" [(selectedItem)]="selectedItem"></gm-recommendation-list>
    </div>
    <div class="watchlist-details" *ngIf="userWatchlistService.watchlist.recommendations.length != 0">
        <gm-stock-details [data]="selectedItem"></gm-stock-details>
    </div>
</div>