<div class="watchlist-view">

    <div class="wait-spinner" *ngIf="isRefreshing">
        <mat-spinner></mat-spinner>
        <h1>Retrieving Watchlist...</h1>
    </div>

    <div class="watchlist-list" *ngIf="!isRefreshing">
        <div class="watchlist-filters">
            <button mat-icon-button [matMenuTriggerFor]="watchlistOptionsMenu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #watchlistOptionsMenu="matMenu">
                <button mat-menu-item (click)="refresh()">
                    <mat-icon>refresh</mat-icon>
                    <span>Refresh</span>
                </button>
                <button mat-menu-item [matMenuTriggerFor]="watchlistExportMenu">
                    <mat-icon>archive</mat-icon>
                    <span>Export</span>
                </button>
            </mat-menu>

            <mat-menu #watchlistExportMenu="matMenu">
                <a mat-menu-item style="align-self: center;" [href]="exportFileUrl"
                    download="watchlist.csv">
                    <mat-icon>file_copy</mat-icon>
                    <span>.csv</span>
                </a>
            </mat-menu>

            <mat-form-field class="search-form">
                <mat-label>Search</mat-label>
                <mat-icon matPrefix>search</mat-icon>
                <input matInput type="text" (keyup)="filterRecommendations()" (keyup.enter)="search()"
                    [formControl]="searchControl">
                <mat-error *ngIf="searchControl.invalid">{{getSearchResultErrorMessage()}}</mat-error>
            </mat-form-field>

            <button mat-icon-button [matMenuTriggerFor]="watchlistFilterMenu">
                <mat-icon>filter_alt</mat-icon>
            </button>
            <mat-menu #watchlistFilterMenu="matMenu">
                <button mat-menu-item>
                    <mat-checkbox
                        (click)="toggleFilter($event, 'Strong Buy')">
                        <div class="filter-selection-checkbox-label">
                            <span style="margin-right: 8px;">Strong Buy</span>
                            <gm-trend-icon [signal]="100"></gm-trend-icon>
                        </div>
                    </mat-checkbox>
                </button>
                <button mat-menu-item>
                    <mat-checkbox
                        (click)="toggleFilter($event, 'Buy')">
                        <div class="filter-selection-checkbox-label">
                            <span style="margin-right: 8px;">Buy</span>
                            <gm-trend-icon [signal]="80"></gm-trend-icon>
                        </div>
                    </mat-checkbox>
                </button>
                <button mat-menu-item>
                    <mat-checkbox
                        (click)="toggleFilter($event, 'Hold')">
                        <div class="filter-selection-checkbox-label">
                            <span style="margin-right: 8px;">Hold</span>
                            <gm-trend-icon [signal]="50"></gm-trend-icon>
                        </div>
                    </mat-checkbox>
                </button>
                <button mat-menu-item>
                    <mat-checkbox
                        (click)="toggleFilter($event, 'Sell')">
                        <div class="filter-selection-checkbox-label">
                            <span style="margin-right: 8px;">Sell</span>
                            <gm-trend-icon [signal]="20"></gm-trend-icon>
                        </div>
                    </mat-checkbox>
                </button>
                <button mat-menu-item>
                    <mat-checkbox
                        (click)="toggleFilter($event, 'Strong Sell')">
                        <div class="filter-selection-checkbox-label">
                            <span style="margin-right: 8px;">Strong Sell</span>
                            <gm-trend-icon [signal]="0"></gm-trend-icon>
                        </div>
                    </mat-checkbox>
                </button>
            </mat-menu>
        </div>

        <gm-recommendation-list [recommendations]="userWatchlistService.watchlist" [(selectedItem)]="selectedItem">
        </gm-recommendation-list>

        <div class="wait-spinner" *ngIf="!isRefreshing && isSearching">
            <mat-spinner></mat-spinner>
            <h1>{{getSearchMessage()}}</h1>
        </div>
    </div>
</div>