<mat-accordion *ngIf="item">
    <mat-expansion-panel hideToggle [expanded]="selected">
        <mat-expansion-panel-header [style.border-color]="fontColor" class="recommendation-item"
            [style.background-color]="backgroundColor" [class.primary-border-color]="selected"
            [class.selected]="selected">
            <gm-trend-icon [color]="fontColor" [signal]="item.sentiment"></gm-trend-icon>
            <div class="symbol-name" [style.color]="fontColor">
                {{item.symbol}}
            </div>
            <div class="sentiment-value" [style.color]="fontColor">
                {{item.sentiment | number : '1.2-2'}}%
            </div>
            <div class="targets">
                <div class="high-target buy-color">{{item.prediction | number : '1.2-2'}}% -
                    ${{item.predictedPriceTarget | number : '1.2-2'}}</div>
                <div class="low-target sell-color">{{item.lowPrediction | number : '1.2-2'}}% -
                    ${{item.predictedLowTarget | number : '1.2-2'}}</div>
            </div>
        </mat-expansion-panel-header>
        <mat-grid-list cols="2" rowHeight="10:1">
            <mat-grid-tile>
                <div class="stock-detail-row">
                    <span>Signal</span>
                    <span class="stock-detail-value"
                        [style.color]="fontColor">{{item.sentiment | number : '1.2-2'}}%</span>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="stock-detail-row">
                    <span>Consensus</span>
                    <span class="stock-detail-value" [style.color]="fontColor">{{item.sentiment | consensus}}</span>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="stock-detail-row">
                    <span>Expected Gains</span>
                    <span class="stock-detail-value buy-color">{{item.prediction | number : '1.2-2'}}%</span>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="stock-detail-row">
                    <span>High Target Price</span>
                    <span class="stock-detail-value buy-color">${{item.predictedPriceTarget | number : '1.2-2'}}</span>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="stock-detail-row">
                    <span>Expected Loss</span>
                    <span class="stock-detail-value sell-color">{{item.lowPrediction | number : '1.2-2'}}%</span>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="stock-detail-row">
                    <span>Low Price Target</span>
                    <span class="stock-detail-value sell-color">${{item.predictedLowTarget | number : '1.2-2'}}</span>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-expansion-panel>
</mat-accordion>