<div class="stock-search-view">
    <div class="stock-search-list">
        <div class="stock-search-filters">
            <mat-form-field>
                <mat-label>Search</mat-label>
                <mat-icon matPrefix>search</mat-icon>
                <input matInput type="text"  [formControl]="searchControl" (keyup)="onSearchKeyup($event)" (keyup.enter)="search()">
                <mat-error *ngIf="searchControl.invalid">Symbol not found</mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary" style="align-self: center; margin: 0 16px;" (click)="search()">
                SEARCH
            </button>
        </div>
        <gm-recommendation-list *ngIf="stockList.recommendations.length > 0 && !isSearching" [recommendations]="stockList"></gm-recommendation-list>
        <div class="wait-spinner" *ngIf="isSearching">
            <mat-spinner></mat-spinner>
            <h1>Looking up {{searchControl.value.toUpperCase()}}...</h1>
        </div>
    </div>
    <div class="stock-search-details">
        <h1 *ngIf="selectedItem">Additional details coming soon!</h1>
    </div>
</div>