:host {
    flex: 1;
    overflow: auto;
}

.recommendation-list-view {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recommendation-table {
    flex: 1;
    overflow: auto;
    width: 100%;
}

.recommendation-item {
    margin: 2px;
    opacity: 0.5;
    &.selected {
        opacity: 1.0;
    }
}
.recommendations-sort-header {
    display: flex;
    justify-content: space-between;
    margin: 0 8px;
}
