<div class="recommendation-list-view noselect">
    <div class="recommendation-table">
        <table matSort (matSortChange)="sortRecommendations($event)" style="width: 100%;">
            <tr class="recommendations-sort-header">
                <th mat-sort-header="symbol">Symbol</th>
                <th mat-sort-header="sentiment">Signal</th>
            </tr>
    
            <tr *ngFor="let r of recommendations.sorted.slice(currentPageStartIndex, currentPageEndIndex)" 
                class="recommendation-item"
                [class.selected]="!selectedItem || (selectedItem && r.symbol == selectedItem.symbol)" 
                (click)="select(r)">
                <td colspan="4">
                    <gm-stock-recommendation-item [item]="r" [selected]="selectedItem != undefined && selectedItem.symbol == r.symbol"></gm-stock-recommendation-item>
                </td>
            </tr>
        </table>
    </div>
    
    <mat-paginator *ngIf="recommendations.sorted.length > pageSize" 
        color="primary"
        [pageSize]="pageSize" 
        [length]="recommendations.sorted.length"
        [pageIndex]="currentPageIndex"
        (page)="onPageChange($event)"
        showFirstLastButtons
        style="width: 100%;"></mat-paginator>
</div>