:host {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.disclaimer-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    overflow: auto;

    p {
        text-align: justify;
    }
}