<div class="disclaimer-content">
    <h1>Disclaimer</h1>
    <p>
        Before using <i><b>Gimmillions</b></i>, please make sure you read through the following important information:
    </p>
    <h2>Do your Own Due Diligence</h2>
    <p>
        The predictions and content provided by the <i><b>Gimmillions</b></i> application is intented to be used as an informational tool to help investors find
        opportunities to invest in. It is crucial that you do your own analysis and research before making any investment decisions, based on your own investment
        strategies. Financial advice should be obtained from a certified professional or from your own independent research, not solely based on information
        provided by <i><b>Gimmillions</b></i>.
    </p>
    
    <h2>No Investment Advice</h2>
    <p>
        The <i><b>Gimmillions</b></i> application provides predictions based on public sources of data. We are not a broker/dealer or investment advisor, and
        we have no access to non-public information about publicly traded companies. We are not a source for financial advice, whether for investment
        decisions or tax or legal advice. We are not regulated by the Financial Services Authority.
    </p>
    <p>
        The information provided in this application is meant to be an educational tool for learning and research. No content on the application constitutes - 
        or should be understood as constituting - a recommendation to enter in any securities transactions or to engage in any of the investment 
        strategies presented in our application content. We are not liable for any damages, expenses or other losses you may incur from using the information
        provided in this application.
    </p>

    <h2>Additional Notes</h2>
    <p>
        The <i><b>Gimmillions</b></i> application uses historical data, technical analysis, and machine learning to make predictions and provide information
        regarding various securities. The data presented is obtained from public sources and could be incorrect, incomplete and/or inaccurate. Therefore, it
        is important to do you own research to validate that the information presented is in fact accurate. Because the predictions are based on this data and uses
        technical analysis and machine learning, the predictions should never be assumed to be absolutely accurate. The price of securities fluctuates based
        on many different factors such as news, overall markets, fundamental data, and various other unknown sources of volatility.
    </p>
    <p>
        The predictions made by the model should not be relied on as truthful or accurate, but more as an indication of sentiment or estimate of the 
        possible outcome for a given security. The gains or losses for an individual security may vary or stray from the predictions. The predictions
        can be used as an informational tool. However, ultimately the responsibility of defining an investment plan/strategy and managing risk falls
        solely on the investor. See the <a routerLink="/main/tutorials" routerLinkActive="active">How to Use</a> page for additional details.
    </p>
</div>